# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for VS Code
.history/

# Common credential filess
**/credentials.json
**/client_secrets.json
**/client_secret.json

# Read Me
**/README.md